/*培训活动*/
<<<<<<< HEAD
.box1{
    height: 690px;
}
.box_conter1{
	width: 766px;
	height: 592px;
	position: absolute;
	top:80px;
}
.box_conter1 p{
	color: #666;
	font-size: 16px;
	margin-top:10px; 
}
.box_conter1 h2{
    font-size: 22px;
    color: #808080;
    font-weight: initial;
    margin-top:40px; 
}
/*资源对接*/
.box2{
    height: 980px;
}
/*项目路演*/
.box3{
	height: 700px;
}
/*工商注册*/
.box4{
	height: 1070px;
}
/*关于我们*/
.box5{
	height: 455px;
}
=======
.box_conter1{
	width: 766px;
	height: 592px;
	border: 1px solid #cecece;
	position: absolute;
	top:80px;
}
>>>>>>> 更新
