/*头部*/
.header_v3{
	position: relative;
    z-index: 100;
    min-width: 1200px;
}
.header_top{
	height: 94px;
    background: #fff;
}
.header_conter{
	margin: 0 auto;
    width: 1200px;
    position: relative;
}
.header_nav{
	margin-top:20px;
	margin-left: 155px;
    float: left;
}
.header_logo{
	width: 155px;
	height: 45px;
	float: left;
	margin-right:154px; 
}
.header_nav ul{
	float: left;
}
.header_nav ul li{
	float: left;
    font: normal 16px/59px "microsoft yahei";
    color: #1a2c3c;
    position: relative;
}
.header_nav ul li a{
	line-height: 60px;
	font-size: 18px;
	padding: 0 25px;
    color: #1a2c3c;
    display: inline-block;
    height: 60px;
    font-family: "microsoft yahei";
}
.li-box{
	width: 118px;
    border-top: 5px solid #000;
    position: absolute;
    top:0;
  display:none;
	background:#fff;
}
.li-box ul{
    cursor: pointer;
    color:#1a2c3c;
}
.li-box ul li a{
	width:68px;
	text-align: center;
}
.li-box ul li a:hover{
	background: #999;
    color: #fff;
}